<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex"> 
      <ion-icon size="large" name="arrow-back-circle-outline" (click)="goToLogin()"></ion-icon>
      <ion-title>
        Clase Registrada!
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex">
    <h4>Datos Clase</h4>
  </div>
  

  <ion-item *ngFor="let item of datosClase.split(',')">
    {{ item.trim() }}
  </ion-item>
  <div class="flex">
    <h4>Datos Alumno</h4>
  </div>
  <img [src]="selfieImageUrl" *ngIf="selfieImageUrl" />
  <ion-item>
    Nombre: {{ nombre }} {{ apellido }} 
  </ion-item>
  <ion-item>
    Rut: {{ rut }}  
  </ion-item>
  <ion-item>
    Ubicación: {{ comuna }},  Region {{ region }}
  </ion-item>
  <div class="flex">
    <h4>Hora: {{ formatTimestamp(timestampCarga) }}</h4>
  </div>
  <div class="flex">
    <h4>Coordenadas: {{ latitud }}, {{ longitud }}</h4>
  </div>
</ion-content>
