app-home::part(background) {
  background: #82fad2b6;
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.flex{
  display: flex;
}


.formulario {
  margin: 0;
  margin-top: 40%;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: calc(100vh - (56px + 100px));
  overflow-y: auto;
  margin-bottom: 10%; 
}
.aaaa{
  justify-content: center;
  align-items: center;
  width: 100%;
}

.formulario{
width: 80%;
padding: 10px;


}
h1{
color: rgb(226, 235, 243);
display: flex;
justify-content: center;
text-shadow: 1px 3px 8px #000000;
}
ion-item{
color: #82fad2b6;
margin-top: 20px;
border-radius: 10px;
border: solid;
border-width: 2px;
border-color: #82fad2b6;
box-shadow: 1px 3px 8px #000000;
}
ion-button{
color: white;
height: 56px;
margin-top: 10px;
border-radius: 10px;
background-color: #82fad2b6;
box-shadow: 1px 3px 8px #000000;
}
ion-checkbox{
margin-top: 15px;
--checkbox-background-checked: #82fad2b6;
color: rgb(226, 235, 243);
text-shadow: 1px 3px 8px #000000;
}
ion-checkbox::part(container) {
border-radius: 6px;
border: 2px solid #82fad2b6;
box-shadow: 1px 3px 8px #000000;
}

.footer{
display: flex;
justify-content: center;




}
.footer label{
color: aliceblue;
}
.footer a{

margin-left: 1%;
color: #82fad2;
text-decoration: none;
}
ion-footer{
box-shadow: 0px -3px 8px #000000 !important; 
background-color: #82fad2b6;
height: 10%;
}

.text{
display: flex;
justify-content: center;
width: 100%;
position: absolute;
top: 40%;
}

ion-grid {
--ion-grid-width: 50%;
--ion-grid-width-xs: 95%;
--ion-grid-width-sm: 60%;
--ion-grid-width-md: 40%;
--ion-grid-width-lg: 40%;
--ion-grid-width-xl: 40%;
}
ion-input:invalid:focus {
background-image: linear-gradient(pink, lightgreen);
}

ion-label.ion-color-primary {
color: #82fad2b6;
}

.bflex{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 15px;
}

.botonesR{
  width: 100%;
  margin-left: 10px;
}
.botonesL{
  width: 100%;
  margin-right: 10px;
}

@keyframes titleAnimation {
  0% {
    transform: translateX(0);
    opacity: 0.2;
  }
  50% {
    transform: translateX(45%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.2;
  }
}

.title-animation {
  animation: titleAnimation 2.5s infinite;
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.slide-animation {
  animation: slideIn 1s;
}


ion-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10; /* Asegura que el header y el footer estén en la parte superior */
}
ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}